{% extends 'base.html.twig' %}

{% block title %}New ForfaitContent{% endblock %}

{% block body %}
      <div class="container">
            {{ include('forfait_content/_form.html.twig') }}
      </div>

{% endblock %}
