{% extends 'base.html.twig' %}

{% block title %}Edit PrixForfaitConfig{% endblock %}

{% block body %}
    <h1>Edit PrixForfaitConfig</h1>

    {{ include('prix_forfait_config/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_prix_forfait_config_index') }}">back to list</a>

    {{ include('prix_forfait_config/_delete_form.html.twig') }}
{% endblock %}
